body {
    background-color: #fff;
    margin-top: -1%;
    margin-left: -1%;
}

.nave-bar {
    background-color: rgb(34, 34, 39);
    display: block;
    height: 60px;
    width: 100%;
}

ul, li {
    list-style-type: none;
    display: block;
    overflow: hidden;
    margin: 0;
    padding-left: 12px;
    padding-top: 18px;
    float: left;
    top: 0;
    color: #fff;
    cursor: pointer;
}

.image {
    height:50px;
    width:50px;
    border-radius: 50%; 
    float: right;
    margin-right: 2%;
    
}
